/*
  Variables
*/

blue = #125688
offwhite = #fafafa
lightgrey  = #EDEEED
lightgray = lightgrey // OH Canada!

html
  font-size 10px
  font-family sans-serif

p
  font-size 1.6rem
  line-height 1.5
  
h1
  font-family billabong
  text-align center
  font-weight 100
  font-size 13rem
  margin 2rem 0
  letter-spacing -1px
  text-shadow 0px 4px 0 rgba(18, 86, 136, 0.11)
  a
    color blue
    text-decoration none
    &:focus
      outline 0
  

