/*
  Variables
*/

blue = #125688
offwhite = #fafafa
lightgrey  = #EDEEED
lightgray = lightgrey // OH Canada!

html
  font-size 10px
  font-family sans-serif

p
  font-size 1.5rem
  
h1
  font-family billabong
  text-align center
  font-weight normal
  font-size 13rem
  margin 2rem 0
  color blue

